<html>

<head>

  <title>Task-Mate</title>
  <link rel="icon" href="/icon.png" type="image/x-icon" />
  <meta charset="UTF-8" />

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css" />
</head>

<body>

  <header>

    <div class="wrapper">
      <div class="logo">
        <img src="/icon.png" alt="" />
      </div>
      <ul class="nav-area">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>



    <% if (status==="loggedIn" ) { %>

      <div class="welcome-text">
        <h1>
          <span>Task-Mate</span>
        </h1>
        <h2>
          <span> Hello, <span class="username">
              <%= user.name %>
            </span>! Boost Your Productivity with Task-Mate </span>
        </h2>

        <a href="/login">Logout</a>
        <a href="/register">Profile</a>

      </div>
      <% } else { %>


        <div class="welcome-text gg">
          <h1>
            <span>Task-Mate</span>
          </h1>
          <h2>
            <span>Stay organized and boost productivity with my intuitive To-Do
              List app.</span>
          </h2>

          <a href="/login">Login</a>
          <a href="/register">Registration</a>

        </div>

        <% } %>

  </header>
</body>

</html>