<html>
<head>

  <title>Task-Mate</title>
  <link rel="icon" href="/icon.png" type="image/x-icon" />
  <meta charset="UTF-8" />

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css" />

  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

  <header>

    <div class="wrapper">
      <div class="logo">
        <img src="/icon.png" alt="" />
      </div>
      <ul class="nav-area">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>



    <% if (status==="loggedIn" ) { %>

      <div class="welcome-text">
        <h1>
          <span>Task-Mate</span>
        </h1>
        <h2>
          <span> Hello, <span class="username">
              <%= user.name %>
            </span>! Boost Your Productivity with Task-Mate </span>
        </h2>

        <a href="/logout">Logout</a>
        <a href="/register">Profile</a>


        <div class="container mt-5 mb-5">

          <div class="mt-3 mb-3">
            <div class="card">
              <div class="card-header">Task Mate : To-Do List</div>
              <div class="card-body">
                <table class="table table-bordered mt-3">
                  <thead>
                    <tr>
                      <th>Task No</th>
                      <th>Task Name</th>
                      <th>Task Description</th>
                      <th>Priority</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="results">

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>




      <script>

        const results_body = document.querySelector('#results');

        load_data();

        function load_data() {
          const request = new XMLHttpRequest();

          request.open(`get`, `/get_data`);

          let html = '';

          request.onreadystatechange = () => {
            if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
              const results = JSON.parse(request.responseText);

              results.forEach(result => {
                html += `
                    <tr>
                        <td>`+ result.id + `</td>
                        <td contenteditable onblur="update_data(this, 'first_name', '`+ result.id + `')">` + result.first_name + `</td>
                        <td contenteditable onblur="update_data(this, 'last_name', '`+ result.id + `')">` + result.last_name + `</td>
                        <td contenteditable onblur="update_data(this, 'age', '`+ result.id + `')">` + result.age + `</td>
                        <td><button type="button" class="btn btn-danger btn-sm" onclick="delete_data(`+ result.id + `)">Remove</button></td>
                    </tr>
                    `;
              });

              html += `
                <tr>
                    <td></td>
                    <td contenteditable id="first_name_data"></td>
                    <td contenteditable id="last_name_data"></td>
                    <td contenteditable id="age_data"></td>
                    <td><button type="button" class="btn btn-success btn-sm" onclick="add_data()">Add</button></td>
                </tr>
                `;

              results_body.innerHTML = html;
            }
          };

          request.send();
        }

        function add_data() {
          const first_name = document.getElementById('first_name_data');

          const last_name = document.getElementById('last_name_data');

          const age = document.getElementById('age_data');

          const param = `first_name=` + first_name.innerText + `&last_name=` + last_name.innerText + `&age=` + age.innerText + ``;

          const request = new XMLHttpRequest();

          request.open(`POST`, `/add_data`, true);

          request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

          request.onreadystatechange = () => {

            if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
              alert("Data Added");

              load_data();
            }

          };

          request.send(param);
        }

        function update_data(element, variable_name, id) {
          const param = `variable_name=` + variable_name + `&variable_value=` + element.innerText + `&id=` + id + ``;

          const request = new XMLHttpRequest();

          request.open(`POST`, `/update_data`, true);

          //Send the proper header information along with the request
          request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

          request.onreadystatechange = () => {

            if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {

              alert('Data Updated');

            }

          };

          request.send(param);
        }

       

      </script>
      <% } else { %>


        <div class="welcome-text gg">
          <h1>
            <span>Task-Mate</span>
          </h1>
          <h2>
            <span>Stay organized and boost productivity with my intuitive To-Do
              List app.</span>
          </h2>

          <a href="/login">Login</a>
          <a href="/register">Registration</a>



        </div>

        <% } %>

  </header>
</body>

</html>